:root {
    --primary-color: #0D35FF;
    --secondary-color: #DDDDDD;
}

body{
    margin: 20px;
}

button{
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    border: none;   
    cursor: pointer;
}
button.primary {
    background-color: var(--primary-color);

    color: #fff;
}
button.secondary {
    background-color: var(--secondary-color);
    color: #333;
}
